extends ./layout/index

block slider
    .slider
        h1 Rio de janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
            .row.mb-5
                .col-md-6
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit autem suscipit consequuntur fugit sunt accusantium magni tempore cumque, laboriosam commodi, impedit officia. Esse quo aperiam quidem aspernatur asperiores, dolores tempore vitae ab! Unde, porro. Eaque, veniam odit repellendus omnis at dolore quae, nobis iure veritatis et odio animi, velit non.
                .col-md-6
                    img(src="/img/inicio_nosotros.jpg", alt="inicio", class="img-fluid")
        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a canadá
                        p.fecha   20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2500USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales  