extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg",alt="imagen",class="img-fluid")
            .col-md-7
            h1=pagina
            blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam doloribus omnis necessitatibus libero sequi tempora quasi cum modi facere iusto voluptates a, quidem autem deserunt cupiditate sapiente? Quasi, maxime nesciunt.
                            
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam et sequi eveniet eius, numquam asperiores ipsa nostrum error unde quasi. Quod officiis, temporibus veritatis dolore impedit deserunt itaque odit nulla!
                            
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum enim velit eum architecto eaque officiis voluptatum ullam et, corrupti tempore dolorem maxime accusamus excepturi eveniet eos sapiente asperiores nulla corporis!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, cupiditate.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, cupiditate.        

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, cupiditate.
